.footer {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 1;
}

.footer__copyright {
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .footer__copyright {
    font-weight: 400;
    line-height: 1.22;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .footer__copyright {
    font-weight: 400;
    line-height: 1.22px;
    text-align: center;
  }
}
