.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 830px;
  margin-left: 11.5%;
  width: 100%;
  text-align: left;
}

.intro__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 1023px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    max-width: 720px;
    width: 100%;
  }

  .intro__title {
    font-weight: 900;
    font-size: 45px;
    line-height: 1.07;
    text-align: left;
  }

  .intro__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.41;
    text-align: left;
  }

  .intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    max-width: 720px;
    width: 100%;
  }

  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: left;
  }

  .intro__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
  }

  .intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    text-align: left;
  }
}
