.photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
  max-width: 1184px;
  margin: 118px auto 92px auto;
}

.photo__grid-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .photo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 23px;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 16px;
  }
}
