.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 15%;
  margin: 0 auto;
  max-width: 984px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  max-width: 47%;
}

.place__artists {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.place__artist-title {
  opacity: 1;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.2;
  color: #aaaaaa;
}

.place__artist-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.place__info-container {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

.place__image {
  width: 100%;
  height: 460px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.place__content {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  gap: 48px;
  grid-column: 2;
  grid-row: 2;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  gap: 25px;
  margin: 0;

  & > p {
    margin: 0;
  }
}

.place__link {
  background: linear-gradient(180deg, #0278fe 0%, #003a7b 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 0;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 356px;
  transition: opacity 0.3s ease;
  grid-column: 1;
  grid-row: 3;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 0 24px;
    gap: 72px;
    margin-top: 88px;
  }

  .place {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
    margin-top: 0;
    grid-column: 1;
    grid-row: 1;
    max-width: 340px;
    margin: 0;
  }

  .place__artists {
    align-self: start;
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
  }

  .place__artist-title {
    opacity: 1;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.2;
  }

  .place__artist-name {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }

  .place__info-container {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }

  .place__image {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }

  .place__content {
    margin-top: 0;
    width: 100%;
  }
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.63;
  gap: 25px;
  margin: 0;

  & > p {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0;
    gap: 50px;
    margin-top: 62px;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.1;
    margin: 0 16px;
    max-width: 288px;
    width: 100%;
  }

  .place__artists {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }

  .place__artist-title {
    opacity: 1;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .place__artist-name {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }

  .place__info-container {
    width: 100%;
  }

  .place__image {
    width: 100%;
    height: auto;
  }

  .place__paragraphs {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.63;
    gap: 25px;
    margin: 0 16px;

    & > p {
      margin: 0;
    }
  }

  .place__link {
    max-width: 288px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}
